*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

h1 {
    color: #03a9f4;
    padding: 10px;
}

section ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

section ul li {
    list-style: none;
    background-color: #eee;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

section ul li.active {
    background-color: #03a9f4;
    color: #fff;
}

.animals{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.animals .itemBox {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    display: block;
}

.animals .itemBox.hide {
    display: none;
}

.animals .itemBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}